<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<script src="main.js" type="text/javascript"></script>
	<script src="newsController.js" type="text/javascript"></script>
	<script src="nhlController.js" type="text/javascript"></script>
	<script src="mlbController.js" type="text/javascript"></script>
	<script src="weatherController.js" type="text/javascript"></script>
</head>

<body>

	<div id="stage" ng-app="cp24">


		<div id="news-container" ng-controller="newsController">

			<div class="article" ng-repeat="article in articles">

				<img class="article-image" ng-src="{{article.urlToImage}}">
				<div class="article-text-wrapper">
					<span class="article-headline">{{article.title}}</span>
					<div class="article-description">{{article.description}}</div>
				</div>
			</div>

		</div>

		<div id="title-bar-container">
			<h1>Toronto's News and Weather</h1>
			<h2 id="clock"></h2>
		</div>

		<div id="weather-container" ng-controller="weatherController">
			<h3>Current Forecast</h3>
			<div id="daily-forecast">
				<div class="weather-item" ng-repeat="item in daily">
					<div class="weather-item-bg"></div>
					<span class="weather-time">{{ item.time }}</span>
					<img src="{{ 'img/weather/weather/'+item.icon+'.png'}}" />
					<span class="weather-degree">Temp : {{ item.temperature }}&deg;</span>
				</div>
				<div id="daily-summary">{{ item.summary }}</div>
			</div>
			<h3>Weekly Forecast</h3>
			<div id="weekly-forecast">
				<div class="weather-item" ng-repeat="item in weekly">
					<div class="weather-item-bg"></div>
					<span class="weather-time">{{ item.time }}</span>
					<img src="{{ 'img/weather/weather/'+item.icon+'.png'}}" />
					<span class="weather-degree">High : {{ item.temperatureHigh }}&deg;</span>
					<span class="weather-degree">POP : {{ item.precipProbability }}%</span>
					<span class="weather-degree">Low : {{ item.temperatureLow }}&deg;</span>
				</div>
				<div id="daily-summary">{{ item.summary }}</div>
			</div>

		</div>

		<div id="sports-container">

			<div id="nhl-container" ng-controller="nhlController">

				<div class="game">
					<img class="league-logo" src="img/nhl-logo.png" />
				</div>
				<div class="game" ng-repeat="game in relevantGames">
					<div class="away-team">
						<div class="logo-holder">
							<img class="team-image" ng-src="{{'img/'+ game.atn + '_' + game.atv + '.png'}}" >
						</div>
						<div class="game-text"><span>{{ game.atn }}</span><span class="score-text"> {{ game.ats }}</span></div>
					</div>
					<div class="home-team">
						<div class="logo-holder">
							<img class="team-image" ng-src="{{'img/'+ game.htn + '_' + game.htv + '.png'}}" >
						</div>
						<div class="game-text"><span>{{ game.htn }}</span><span class="score-text"> {{ game.hts }}</span></div>
					</div>
					<div class="game-info">
						<span class="game-time">{{game.time}}</span>
					</div>
				</div>

			</div>

			<div id="mlb-container" ng-controller="mlbController">

				<div class="game" ng-repeat="game in relevantGames">
					<div class="away-team">
						<div class="logo-holder">
							<img class="team-image" ng-src="{{'img/mlb/'+ game.away_name_abbrev + '.png'}}" >
						</div>
						<div class="game-text"><span>{{ game.away_team_name }}</span><span class="score-text"> {{ game.ats }}</span></div>
					</div>
					<div class="home-team">
						<div class="logo-holder">
							<img class="team-image" ng-src="{{'img/mlb/'+ game.home_name_abbrev + '.png'}}" >
						</div>
						<div class="game-text"><span>{{ game.home_team_name }}</span><span class="score-text"> {{ game.hts }}</span></div>
					</div>
					<div class="game-info">
						<span class="game-time">{{game.time}}</span>
					</div>
				</div>


			</div>


		</di>

	</div>

</body>

</html>