body{
	font-family: 'PT Sans', sans-serif;
	position:absolute;
	top:0px;
	left:0px;
	margin:0;
	width:1920px;
	height:1920px;
	overflow:hidden;
	-webkit-font-smoothing: subpixel-antialiased
}

#stage {
	width:100%;
	height:100%;
}

#news-container {
	position:absolute;
	left:0px;
	top:0px;
	width:1150px;
	height:700px;
	background-color:#3E3E3E;
}

#title-bar-container {
	position:absolute;
	left:1150px;
	top:0px;
}

#weather-container {
	position:absolute;
	left:1150px;
	top:150px;
	height:550px;
	width:770px;
	overflow:hidden;
}

#daily-forecast {
	height:225px;
	overflow:hidden;
}

#weekly-forecast {
	height:225px;
	overflow:hidden;
}

.weather-item {
	height:100%;
	width:20%;
	display:inline-block;
	color:#FFFFFF;
}

.weather-item-bg {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(100,100,100,0.5);
	filter:blur(5px);
	z-index:-1000;
}

.weather-item > * {
	display:block;
	vertical-align:middle;
}

.article {
	display:none;
}

.article-image {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:550px;
}

.article-text-wrapper {
	position:absolute;
	bottom:0px;
	left:0px;
	height:150px;
	color:#FFFFFF;
}

.article-headline {
	font-weight:bold;
	font-size:36px;
}

.ticker {
    transform: translateX(-165px);
}

#sports-container {
	position:absolute;
	left:0px;
	top:700px;
	width:1150px;
	height:165px;
	background-color:#CCCCCC;
	overflow:hidden;
}

.league-logo {
	width:50%;
	margin-right:auto;
	margin-left:auto;
}

#nhl-container {
	position:absolute;
	display:inline-block;
	left:0px;
	top:0px;
	width:400%;
	height:100%;
	transition: transform 3s;
}

#mlb-container {
	position:absolute;
	display:inline-block;
	left:0px;
	top:165px;
	width:400%;
	height:100%;
	transition: transform 3s;
}

.game {
	display:inline-block;
	height:100%;
	width:230px;
}

.team-image {
	width:50px;
	height:50px;
}

.logo-holder {
	display:inline-block;
	width:50px;
}

.game-text {
	display:inline-block;
}